.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
